In [3]:
import pandas as pd
import yfinance as yf

In [5]:
msft = yf.Ticker("MSFT")

In [6]:
msft

yfinance.Ticker object <MSFT>

In [12]:
msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056001,0.064236,0.056001,0.061491,1031788800,0.0,0.0
1986-03-14,0.061491,0.064785,0.061491,0.063687,308160000,0.0,0.0
1986-03-17,0.063687,0.065334,0.063687,0.064785,133171200,0.0,0.0
1986-03-18,0.064785,0.065334,0.062589,0.063138,67766400,0.0,0.0
1986-03-19,0.063138,0.063687,0.061491,0.062040,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2021-10-13,294.910004,297.279999,293.489990,296.309998,23416300,0.0,0.0
2021-10-14,299.209991,303.269989,297.829987,302.750000,27262900,0.0,0.0
2021-10-15,302.339996,304.450012,300.519989,304.209991,25374700,0.0,0.0
2021-10-18,303.570007,308.209991,302.690002,307.290009,22551700,0.0,0.0
2021-10-19,308.347992,309.299988,307.220001,308.230011,9259389,0.0,0.0

In [23]:
data = yf.download(
        # tickers list or string as well
        tickers = "SPY AAPL MSFT",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "max",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1d",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'column',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [25]:
data["2000-01-01":]

                 Close                                High              \
                  AAPL        MSFT         SPY        AAPL        MSFT
Date
2000-01-03    0.858137   36.861526   97.195267    0.862449   37.513768
2000-01-04    0.785788   35.616337   93.394394    0.848075   37.039409
2000-01-05    0.797286   35.991867   93.561432    0.847596   36.802228
2000-01-06    0.728290   34.786209   92.057747    0.820285   36.011632
2000-01-07    0.762789   35.240803   97.404129    0.774288   35.497746
...                ...         ...         ...         ...         ...
2021-10-13  140.910004  296.309998  435.179993  141.399994  297.279999
2021-10-14  143.759995  302.750000  442.500000  143.880005  303.269989
2021-10-15  144.839996  304.209991  445.869995  144.899994  304.450012
2021-10-18  146.550003  307.290009  447.190002  146.839996  308.209991
2021-10-19  148.752502  308.149994  450.279907  149.169998  309.299988

                               Low                                Open  \
                   SPY        AAPL        MSFT         SPY        AAPL
Date
2000-01-03   99.074849    0.779558   35.418689   96.151055    0.803995
2000-01-04   96.276421    0.775726   35.497747   93.321299    0.829868
2000-01-05   94.584760    0.789620   34.588560   91.723618    0.795370
2000-01-06   94.563856    0.728290   34.272322   92.057747    0.813578
2000-01-07   97.404129    0.732124   33.936320   93.603196    0.739790
...                ...         ...         ...         ...         ...
2021-10-13  436.049988  139.199997  293.489990  431.540009  141.240005
2021-10-14  442.660004  141.509995  297.829987  438.579987  142.110001
2021-10-15  446.260010  143.509995  300.519989  444.089996  143.770004
2021-10-18  447.549988  143.160004  302.690002  443.269989  143.449997
2021-10-19  450.559998  146.550003  307.220001  448.279999  147.009995

                                       Volume
                  MSFT         SPY       AAPL        MSFT         SPY
Date
2000-01-03   37.118470   99.074849  535796800  53228400.0   8164300.0
2000-01-04   35.912810   95.921389  512377600  54119000.0   8089800.0
2000-01-05   35.141977   93.519663  778321600  64059600.0  12177900.0
2000-01-06   35.477980   93.310802  767972800  54976600.0   6227200.0
2000-01-07   34.351383   93.770270  460734400  62013600.0   8066500.0
...                ...         ...        ...         ...         ...
2021-10-13  294.910004  434.709991   78762700  23416300.0  72974000.0
2021-10-14  299.209991  439.079987   69907100  27262900.0  70236800.0
2021-10-15  302.339996  444.750000   67885200  25374700.0  66226800.0
2021-10-18  303.570007  443.970001   85268800  22551700.0  62111400.0
2021-10-19  308.347992  448.920013   49933856   9455979.0  23984017.0

[5485 rows x 15 columns]

In [26]:
# Get the 

table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
df.head()

#df.to_csv('S&P500-Info.csv')
#df.to_csv("S&P500-Symbols.csv", columns=['Symbol'])

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [34]:
df['date_added_clean'] = df['Date first added'].str.split(' ').str[0]
df["date_added_clean"] = pd.to_datetime(df['date_clean'] , format='%Y-%m-%d')
df[df["date_added_clean"] <= "2006-01-01"]

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded,date_clean,date_added_clean
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902,1976-08-09,1976-08-09
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,1964-03-31,1964-03-31
6,ADBE,Adobe,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982,1997-05-05,1997-05-05
9,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981,1998-10-02,1998-10-02
10,AFL,Aflac,reports,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955,1999-05-28,1999-05-28
...,...,...,...,...,...,...,...,...,...,...,...
497,XEL,Xcel Energy,reports,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,72903,1909,1957-03-04,1957-03-04
498,XLNX,Xilinx,reports,Information Technology,Semiconductors,"San Jose, California",1999-11-08,743988,1984,1999-11-08,1999-11-08
500,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,1997-10-06,1997-10-06
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,2001-08-07,2001-08-07
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,2001-06-22,2001-06-22